{{> header}}

<body>
    <h1>Login Page</h1>
    {{> nav}}
    <!--action="/url for this website" since we're creating a new page, we have to create a new post route for password and username!-->
    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">User Name</label>
            <input type="text" name="username" class="form-control" placeholder="Enter user name">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Pazzwerd">
            <div id="emailHelp" class="form-text">Don't share your password with just anyone.&#x26FD;98</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

        {{#message}}
        <div class="alert alert-danger" role="alert">{{message}}</div>
        {{/message}}
    </form>
    </div>
    {{> footer}}